<template>
  <div class="app-container flex justify-center flex-col h-screen sm:container">
    <div class="header-border w-full"></div>
    <div class="flex header rounded-b-xl justify-end w-full">
      <a class="btn-login" href="#">Login</a>
    </div>
    <div class="body flex flex-col flex-grow flex-shrink-0 justify-center">
      <h1 class="title px-5">Deine Job website</h1>
      <div class="w-full flex flex-grow flex-shrink-0 body-bg"></div>
    </div>
    <div class="footer sm:container rounded-t-xl w-full">
      <button class="w-full btn-register">Kostenlos Registrieren</button>
    </div>
  </div>
</template>
<style scoped>
.app-container {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0% 0% no-repeat padding-box;
}
.header {
  background: white;
  border-bottom: #c9c9c9 solid 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 24px 20px;
}
.header-border {
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0% no-repeat padding-box;
}
.body {
  padding-top: 20px;
}
.body-bg {
  background: url('~assets/img/undraw_agreement_aajr.svg') no-repeat center;
  background-size: cover;
}
.footer {
  background: white;
  border-top: #c9c9c9 solid 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 24px 20px;
}
.btn-register {
  height: 40px;
  border-radius: 12px;
  background: transparent linear-gradient(95deg, #319795 0%, #3182ce 100%) 0% 0% no-repeat padding-box;
}
.btn-login {
  color: #319795;
}
.paper {
  min-width: 960px;
  max-width: 960px;
}
.title {
  text-align: center;
  font: normal normal medium 42px/50px;
  letter-spacing: 1.26px;
  color: #2d3748;
  opacity: 1;
  font-size: 42px;
}
</style>
